// :::: $vars ::::

$brand-primary: #444;
$brand-secondary: $brand-primary * 2;
$btn-primary: $brand-primary / 4;
$btn-hover: $brand-secondary / 3;
$black: #000;
$white: #fff;
$box-std: 40%;
$gutter-std: 5%;
$gutter-sm: $gutter-std / 2;
$padding: .5em;
$font-size-primary: 2vw;

// **** MIXINS **** //

@mixin margin {
  margin: 2em;
}

@mixin bubble {
  border-radius: .25em;
  font-family: sans-serif;
}

@mixin drop {
  @include bubble;
  font-size: $font-size-primary / 1.05;
}

// :::: global styles ::::


body {
  @include margin
  font-family: 'Indie Flower', cursive;
  font-size: $font-size-primary;
  background: linear-gradient($brand-secondary, $brand-primary);
}

h1 {
  font-size: 5vw;
  text-align: center;
  margin-bottom: $gutter-std;
}

h2 {
  font-size: 2vw;
  text-align: center;
  margin-bottom: $gutter-std;
}

select {
  @include drop
  width: $box-std / 2;
}

button {
  font-size: $font-size-primary;
  float: right;
  width: $box-std / 1.8;
  padding: 2% 0;
  background: $btn-primary * 2.75;
  color: #fff;
  @include bubble;
  cursor: pointer;
  transition: 350ms all;

  &:hover {
    background: $btn-hover;
  }
}

input[type="text"] {
  @include bubble;
  float: left;
  width: $box-std + 10%;
  margin-right: $gutter-std / 2;
  padding: 2%;
  border: none;
  border-radius: 3px;
}

pre {
  font-family: monospace;
  margin: $gutter-std;
}

// :::: app styles ::::

.container {
  float: left;
  width: $box-std;
  margin: 5%;
}

.text-binder {
  height: 15vw;
  font-size: 3vw;
  margin: $gutter-std;
  padding: 1vw;
  color: $white;
  background: $brand-primary /3;
  border: dotted .25vw $brand-primary;

  + input {
    width: 100%;
  }
}
